// main: style.less, sourcemap: true, compress: false
/*==== RESET DO NOT CHANGE!! ====*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin-left: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

hr {
    display: block;
    height: 0;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

pre {
    white-space: pre;
    white-space: pre-line;
    word-wrap: break-word;
}

input, select {
    vertical-align: middle;
}

/* clearfix */
/* For modern browsers */
.clearfix:before,
.clearfix:after,
.cf:before,
.cf:after{
    content: "";
    display: table;
}

.clearfix:after,
.cf:after{
    clear: both;
}

.clear {
    clear: both;
}


/*==== DEFAULT STYLES ====*/
html,
body {
    height: 100%;
}

html {
    background: #fff;
}

ol,
ul {
    margin-left: 20px;
}

hr {
    border-bottom: 1px solid #f00;
}


/* When using font-face, remove style below and use bold font instead */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

p {
    // margin-bottom: 12px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    max-width: 100%; /* Gives the image a property to stay in the container */
    height: auto; /* Gives the image the right height on a scale */
}


svg:not(:root) {
    overflow: hidden;
}

/* Forms */
input,
textarea {
    border: 1px solid #f00;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0; padding: 0;
}

button,
input {
    line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

label {
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
}

b,
strong {
    font-weight: bold;
}

input[type=text],
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    border: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

a{
    cursor: pointer;
    outline: none;
}
