// main: style.less, sourcemap: true, compress: false
header{
  background: @color-1;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  a{
    display: block;
    max-width: 160px;
  }
}
#home{
  .booking-form{
    .row{}
    form{
      label{
        display: block;
        padding: 15px 0 5px 0;
      }
      input{
        width: 100%;
        border: 1px solid @color-1;
        padding: 5px;
        box-sizing: border-box;
        &.error{
          border-color: @color-error;
        }
        &[type="submit"]{
          background: @color-1;
          &:hover{
            background: lighten(@color-1, 10%);
          }
        }
        &[type="checkbox"]{
          width: auto;
        }
      }
      .error{
        padding-top: 5px;
        color: @color-error;
      }
      footer{
        margin: 10px 0;
      }
    }
  }
}
