// main: style.less, sourcemap: true, compress: false

/* Media queries*/
@macro-desktop: ~"only screen and (min-width: 1201px)";
@desktop: ~"only screen and (min-width: 992px) and (max-width: 1200px)";
@tablet: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@phone: ~"only screen and (max-width: 768px)";
@micro-phone: ~"only screen and (max-width: 380px)";


@color-1: #ccc;
@color-error: #FA6970;
